<!DOCTYPE html>
<html>
  <head>
    <title>Libros</title>
    <%- include("partials/head") %> 
  </head>
  <body>
    <%- include('partials/navigation') %> 

    
    <!-- MAIN CONTENT -->
    <div class="container p-4">
      <div class="row">
      <% if (booksjson.length > 0 ){ %>
          <% booksjson.forEach( libro => { %>
            <div class="col-md-4" id="clase">
              <div class="card">
                <div class="card-header bg-dark text-white">
                  <%= libro.titulo %>
                </div>
                <img class="card card-img-top" src="<%= libro.imagen %>">
                <div class="card card-body">
                  <%= libro.descripcion %>
                </div>
                <a href="/" class="btn btn-primary w-25">Delete</a>
              </div>
            </div>
          <%})%>
      <%} else {%>
        <div class="card card-body text-center">
          <p>No Hay Libros. <a href="/newbooks">Añade uno</a></p>
        </div>
      <%}%>
      </div>
    </div>
  </body>
</html>

